
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    margin-right: 10px; /* Add spacing to the right of the "Previous" button */
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous + .paginate_button.next {
        margin-left: 10px; /* Add spacing to the left of the "Next" button */
    }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 5px; /* Add rounded corners to pagination buttons */
    background-color: #6777EF; /* Set background color of pagination buttons */
    color: white; /* Set text color of pagination buttons */
    border: 1px solid #dee2e6; /* Add border */
    cursor: pointer; /* Add cursor pointer */
    padding: 20px 46px; /* Add padding */
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Add bold font weight */
    transition: background-color 0.3s ease; /* Add transition effect */
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background-color: #007bff; /* Change background color on hover */
        color: white; /* Change text color on hover */
    }


    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
        background-color: #6777EF; /* Change background color of disabled buttons */
        border-color: #ccc; /* Change border color of disabled buttons */
        cursor: not-allowed; /* Change cursor on disabled buttons */
    }


#example td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

#example th {
    display: table-cell;
}
